
header h1{
  font-size: 300%;
  background-color: red;
  text-align: center;
}
*{
  margin: 0;
  padding: 0;
}

nav {
  background: black;
  padding: 1rem;
}

nav ul{
  list-style-type: 0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;

}

nav ul li{
  display: inline;
}

nav ul li a{
  color: red;
  text-decoration: none;
  padding: 0.5 1rem;
  display: block;
}

nav ul li a:hover{
  background-color: whitesmoke;
  border-radius: 5px;
}

main {
  width: 960px;
  margin: 0 auto;
  font-size: 400%;
  text-align: center;
  font-weight: bolder;
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 960px;
  margin: 0 auto;
  line-height: 1.3%;
  padding: 1em;
  padding-bottom: 2rem;
  line-height: 1.3%;
  padding: 1em;
}

p{
  font-family: "Righteous", sans-serif;
  font-size: 145%;
  font-weight: 400;
  font-style: normal;
  line-height: 1.3;
  padding-top: 1rem;
}

.me{
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

